<!DOCTYPE html>
<html>
{% load staticfiles %}

	<head lang = "en">

		<meta charset = "UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

		<title>{% block title %} Default Title {%  endblock %}</title>

		<!-- Bootstrap includes -->
		<link href="{% static 'css/styles.css' %}" rel="stylesheet">
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/bootstrap-theme.min.css' %}" rel="stylesheet">

	</head>

	<body>
		<header style="width: 100%; border-bottom: solid #000000;">
			<p>LOGO GOES HERE</p>
			<h1>A-AMMO News</h1>

			{# If the user is logged in, display his/her profile picture. #}
			{% if request.session.logged %}
				<div>
					{% if request.session.user_image %}
						<img src = "{% static request.session.user_image %}" />
					{% endif %}
					{# If the user is logged in, display his/her name. #}
					<h3>Welcome {{ request.session.username }}!</h3>
				</div>
			{% endif %}

			<div id="auth_controls">

				{# The user is already logged in. Display Sign out button. #}
				{% if request.session.logged %}
					{# The logout form #}
					<form method="POST" action = "/users/logout/">
						{% csrf_token %}
						<input name="source_path" type = "hidden" value="{{ request.path }}" />
						<input type="submit" value="Logout" />
					</form>
				{# The user is not logged in. Display login or registration controls. #}
				{% else %}
					<form method="POST" action = "/users/login/">
						{% csrf_token %}
						<input name="source_path" type = "hidden" value="{{ request.path }}" />
						<label for = "username">Username: </label>
						<input name="username" type = "text" />
						<label for = "user_password">Password: </label>
						<input name="user_password" type = "password" />
						<label for = "remember_me">Remember me</label>
						<input name="remember_me" type = "checkbox" />
						<input type = "submit" value="Login!" />
					</form>

					<a href="/users/password_recovery/">Forgot password?</a>

					{# This redirects the page to Facebook, with GET next key to the page to load afterwards the #}
					{# facebook login. We pass a 'next' variable as a GET request to the login page to redirect me #}
					{# back to the current url again. #}
					<a href="{% url 'social:begin' 'facebook' %}?next=/users/login_facebook/?next={{ request.path }}">
						Login Using Facebook
					</a>

					<a href="/users/register/">Sign up!</a>

					{# The user failed his login credentials. #}
					{% if request.session.login_failure %}
						<h2>Incorrect username/password combination!</h2>
					{% endif %}
				{% endif %}
			</div>

			{# Display the navigation bar with extra Profile tab if logged in. #}
			<ul class="navbar">
				<li><a href = "/article/home_article/">Home</a></li>
				<li><a href = "/article/list_articles/">Articles</a></li>
				{% if request.session.username %}
					<li><a href = "/users/edit/">Profile</a></li>
				{% endif %}
			</ul>
		</header>

		{# The body content pools from all pages that extend the base template. #}
		{% block body %}
			Default CONTENT goes here
		{% endblock %}


		<footer>
			STATIC FOOTER
		</footer>

	    <script src="{% static 'js/jquery-2.1.3.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
	</body>

</html>