{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
	Articles Page
{% endblock %}

{% block body %}
	<div>
		{% if articles %}
			{% for article in articles %}
				<a href = "/article/open_article/{{ article.id }}"> {{ article.article_title }}</a>
				<img src = "{% static article.article_photo %}">
				{{ article.article_body }}

				{% for entity in entities %}
					{% if entity.id == article.entity_id_id %}
						{{ entity.entity_date }}  {{ entity.entity_time }}
					{% endif %}
				{% endfor %}
			{% endfor %}

		{% else %}
			<p>No Articles </p>
		{% endif %}
	</div>
{% endblock %}