{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
	{{ article.article_title }}
{% endblock %}

{% block body %}

	<h2>{{ article.article_title }}</h2>
	<div class = "article_photos" style = "width:50px ;height:50px; border:solid ">
		<img src = "{% static article.article_photo %}" width = "50px" height = "50px">
	</div>

	<div class = "article" style = "border:solid;">
		{{ article.article_body }}
	</div>

	{{ entity.entity_date }} {{ entity.entity_time }}

	{% if request.session.is_admin %}
		<a href = "/article/article/{{ article.id }}/">Edit Article</a>
		<a href = "/article/delete_article/{{ article.id }}/">Delete Article</a>
	{% else %}

		{% if like_hidden %}
			<a href = "/article/unlike/{{ article.id }}/">Unlike</a>
		{% else %}
			<a href = "/article/like/{{ article.id }}/">Like</a>
		{% endif %}
	{% endif %}
	No of likes= {{ entity.no_of_likes }}

	<div>
		Comments HERE
	</div>

	<div class = "article" style = "width:100px ;height:100px; border:solid; ">
		{% for onetag in tag %}
			<a href = '/article/open_article/{{ onetag.id }}/'>{{ onetag.article_title }}</a>
		{% endfor %}
	</div>

{% endblock %}
