{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
	Create New Article
{% endblock %}

{% block body %}
	{% if request.session.is_admin %}
	<div class="container">
		{% if edit_mode %}
			<form method = 'post' action = '/article/edit_article/{{ article.entity_id_id }}/' enctype = "multipart/form-data">
		{% else %}
			<form method = 'post' action = '/article/insert_article/' enctype = "multipart/form-data">
		{% endif %}

		{% csrf_token %}
		<div class="form-group">
			<label for = "image">Choose Article Header Image</label>
			<input id = "id_image" type = "file" class = "" name = "image">
		</div>

		<div class="form-group">
			<label for = "article_title">Article Title</label>
			<input required="true" class="form-control" type = 'text' name = 'article_title'
			       value ='{{ article.article_title }}' placeholder="Enter article title ...">
		</div>

		<div class="form-group">
			<label for = "article_tag">Article Tag</label>
			<input required="true" class="form-control" type = 'text' name = 'article_tag'
			       value ='{{ article.article_tag }}' placeholder="Enter article tags ...">
		</div>

		<div class="form-group">
			<label for = "article_body">Article Text</label>
			<textarea required="true" class="form-control" rows = "10" cols = "80"
			          name = 'article_body' placeholder="Enter article body ...">{{ article.article_body }}</textarea>
		</div>

		<div class="form-group">
			<label for = "article_date">Article Date</label>
			<input required="true" class="form-control" type = 'date' name = 'article_date'
			       value ='{{ entity.entity_date }}'>
		</div>

		<div class="form-group">
			<label for = "article_time">Article Time</label>
			<input required="true" class="form-control" type = 'time' name = 'article_time'
			       value ={{ entity.entity_time }}>
		</div>

		<div class="checkbox">
			<label >
				{% if article.article_published %}
					<input type = 'checkbox' name = 'publish_article' checked>
				{% else %}
					<input type = 'checkbox' name = 'publish_article'>
				{% endif %}
				<p>Publish Article</p>
			</label>
		</div>

		{% if message %}
			{{ message }}
		{% endif %}

		{% if edit_mode %}
			<input class="btn btn-primary btn-block" type = 'submit' name = 'save_article'
			       value = 'Submit Article Changes'>
		{% else %}
			<input class="btn btn-primary btn-block" type = 'submit' name = 'save_article' value = 'Create New Article'>
		{% endif %}
	</form>
	{% else %}
		<div class="alert alert-danger" role="alert">
			<h2 class="text-center">
				You are not authorized to see the contents of this page!
				Login as an administrator!
			</h2>
		</div>
	{% endif %}

</div>
{% endblock %}
