{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
	Create New Article
{% endblock %}

{% block body %}
	{% if edit_mode %}
		<form method = 'post' action = '/article/edit_article/{{ article.entity_id_id }}/' enctype = "multipart/form-data">
	{% else %}
		<form method = 'post' action = '/article/insert_article/' enctype = "multipart/form-data">
	{% endif %}

	{% csrf_token %}
	<label for = "image">Choose Article Header Image</label>
	<input id = "id_image" type = "file" class = "" name = "image">

	<label for = "article_title">Article Title</label>
	<input type = 'text' name = 'article_title' value ={{ article.article_title }}>

	<label for = "article_tag">Article Tag</label>
	<input type = 'text' name = 'article_tag' value ={{ article.article_tag }}>

	<label for = "article_body">Article Text</label>
	<textarea rows = "10" cols = "80" name = 'article_body'>{{ article.article_body }}</textarea>

	<label for = "article_date">Article Date</label>
	<input type = 'date' name = 'article_date' value ={{ entity.entity_date }}>

	<label for = "article_time">Article Time</label>
	<input type = 'time' name = 'article_time' value ={{ entity.entity_time }}>

	<label for = "publish_article">Publish Article</label>
	{% if article.article_published %}
		<input type = 'checkbox' name = 'publish_article' checked>
	{% else %}
		<input type = 'checkbox' name = 'publish_article'>
	{% endif %}

	{% if message %}
		{{ message }}
	{% endif %}

	{% if edit_mode %}
		<input type = 'submit' name = 'save_article' value = 'Submit Article Changes'>
	{% else %}
		<input type = 'submit' name = 'save_article' value = 'Create New Article'>
	{% endif %}
</form>

{% endblock %}
