{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
	Homepage
{% endblock %}

{% block body %}

{# REPLACE WITH CAROUSEL #}
<div class="header" >
    <div class="article_photos" style="width:100px ;height:100px; border:solid ">
        {%for article in articles%}
            <img src="{% static article.article_photo %}" width="100px" height="100px">
        {% endfor %}
    </div>
</div>

<div>
	{% if articles %}
		{%for article in articles%}
            <p>
                <a href='/article/open_article/{{article.entity_id_id}}/' > {{article.article_title}}</a>
			</p>

            <p>
	            <img src="{% static article.article_photo %}">
            </p>

			{{article.article_body}}
            <br>

            {% for entity in entities %}
                {% if entity.id == article.entity_id_id %}
                    {{entity.entity_date}}  {{entity.entity_time}}
                {% endif %}
            {% endfor%}

        {% endfor %}
	{% else %}
		<p>No Articles </p>
    {% endif %}
</div>
{% endblock %}
