{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
	Homepage
{% endblock %}

{% block body %}
	<!-- Page gallery -->
	<div id="article_gallery" class="carousel slide" data-ride="carousel">

		<!--
			Image indicators at the bottom of the carousel. The first one must have a class of active. For loop
			counter 0 starts iterating from 0 to give the list elements ids.
		 -->
		<ol class="carousel-indicators">
			{% for article in articles %}
				{% if forloop.counter0 == 0 %}
					<li data-target="#article_gallery" data-slide-to="{{ forloop.counter0 }}" class="active"></li>
				{% else %}
					<li data-target="#article_gallery" data-slide-to="{{ forloop.counter0 }}"></li>
				{% endif %}
			{% endfor %}
		</ol>

		<!-- The slide images themselves, wrapped in mini-containers -->
		<div class = "carousel-inner" role = "listbox">
			{% for article in articles %}
				<!-- Defines a slide with its captions -->
				{% if forloop.counter0 == 0 %}
					<div class = "item active">
				{% else %}
					<div class = "item">
				{% endif %}
						<img src = "{% static article.article_photo %}" alt = "{{ article.article_title }}">
						<div class = "carousel-caption">
							<h3>{{ article.article_title }}</h3>
							<p>{{ entities.forloop.counter0.entity_date }}</p>
							<p>{{ entities.forloop.counter0.entity_time }}</p>
						</div>
					</div>
			{% endfor %}
		</div>

	  <!-- Controls -->
	  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
	    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
	    <span class="sr-only">Previous</span>
	  </a>
	  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
	    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	    <span class="sr-only">Next</span>
	  </a>
	</div>

<div>
	{% if articles %}
		{%for article in articles%}
            <p>
                <a href='/article/open_article/{{article.entity_id_id}}/' > {{article.article_title}}</a>
			</p>

            <p>
	            <img src="{% static article.article_photo %}">
            </p>

			{{article.article_body}}
            <br>

            {% for entity in entities %}
                {% if entity.id == article.entity_id_id %}
                    {{entity.entity_date}}  {{entity.entity_time}}
                {% endif %}
            {% endfor%}

        {% endfor %}
	{% else %}
		<p>No Articles </p>
    {% endif %}
</div>
{% endblock %}
