{% extends 'base.html' %}
{% load staticfiles %}

{# Template title contents go here #}
{% block title %}
	Edit information
{% endblock %}

{# Template body contents go here #}
{% block body %}

	{% if edit_form %}
		<form enctype="multipart/form-data" method="POST" action = "/users/edit/">
			{% csrf_token %}

			{{ edit_form }}

			<input type = "submit" value="Confirm Changes" />

		</form>

	{% elif edit_status %}
		<div class="container-fluid">
			<div class="alert alert-success" role="alert">
				<h2 class="text-center">Changes have been made successfully!</h2>
			</div>
		</div>
	{% endif %}

{% endblock %}