{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap %}

{# Template title contents go here #}
{% block title %}
	Recover forgot password
{% endblock %}

{# Template body contents go here #}
{% block body %}
	<div class="container">
		<h1 class="page-header"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span> Recover Password</h1>
		{% if recovery_form %}
			<form method="POST" action = "/users/password_recovery/">
				{% csrf_token %}
				{{ recovery_form|bootstrap }}
				<input class="btn btn-primary btn-block" type = "submit" value="Send Email" />
			</form>

		{% elif sent_email %}
			<div class="container">
				<div class="alert alert-success" role="alert">
					<h2 class="text-center">An email containing your new password has been sent successfully.</h2>
				</div>
			</div>
		{% endif %}
	</div>
{% endblock %}