{% extends 'base.html' %}
{% load staticfiles %}

{# Template title contents go here #}
{% block title %}
	Recover forgot password
{% endblock %}

{# Template body contents go here #}
{% block body %}

	{% if recovery_form %}
		<form method="POST" action = "/users/password_recovery/">

			{% csrf_token %}

			{{ recovery_form }}

			<input type = "submit" value="Send Email" />

		</form>


	{% elif sent_email %}

		<h2>An email containing your new password has been sent successfully.</h2>

	{% endif %}

{% endblock %}