{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap %}

{# Template title contents go here #}
{% block title %}
	Registration page
{% endblock %}

{# Template body contents go here #}
{% block body %}
	<div class="container">
		{# If the registration form object exists that means the user is not logged in. #}
		{% if register_form %}

			{# Create registration form #}
			<form method="post" enctype="multipart/form-data" action = "/users/register/">
				{% csrf_token %}
				{{ register_form|bootstrap }}
				{% if user_image %}
					<img src="{{ user_image }}">
				{% endif %}
				<input class="btn btn-success btn-lg pull-right" type = "submit" value="Submit!" />
			</form>

			{% if not user_image %}
				<h4>
					<a class="label label-primary"
					   href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">
						Sign Up using Facebook
					</a>
				</h4>
			{% endif %}
			{% if user_image %}
				<h4>
					<a class="label label-danger" href="/users/logout/?source_path={{ request.path }}">
						Disconnect from Facebook
					</a>
				</h4>
			{% endif %}

		{# The user is already logged in. Display a message telling him that. #}
		{% else %}

			<h1>
				You are already logged in!
			</h1>

		{% endif %}

	</div>

{% endblock %}