{% extends 'base.html' %}

{# Template title contents go here #}
{% block title %}
	Registration page
{% endblock %}

{# Template header contents go here #}
{% block header %}

	<header>
		<p>
			Logo Goes Here
		</p>

	</header>

{% endblock %}

{# Template body contents go here #}
{% block body %}

	{# Create registration form #}
	<form method="post" enctype="multipart/form-data" action = "/users/register/">

		{% csrf_token %}

		{{ register_form }}

		<input type = "submit" value="Submit!" />

	</form>

{% endblock %}