{% if comments %}
	<h2>Comments: </h2>
	{% for comment_tuple in comments %}
		<!-- The Comment Block  -->
		<!------------------------------------------------------------------------------------------------------------->
		<div class = "comment" id = {{ comment_tuple.comment.entity_id_id }}>
			<div class = "author">{{ comment_tuple.username }}</div>
			<div class = "body">{{ comment_tuple.comment.comment_text }}</div>
			<div class = "Date_time">{{ comment_tuple.entity.entity_date }}{{ comment_tuple.entity_time }}</div>

			{# To show the Like Button, ensure the user is logged in and he is not an admin. #}
			{% if not request.session.is_admin and request.session.username %}
				{% if comment_tuple.like_hidden %}
					<a href = "/comment/unlike/{{ comment_tuple.comment.entity_id_id }}/">Unlike</a>
				{% else %}
					<a href = "/comment/like/{{ comment_tuple.comment.entity_id_id }}/">Like</a>
				{% endif %}
			{% endif %}

			<p>Likes = {{ comment_tuple.entity.no_of_likes }}</p>

			<button id = "reply_button_{{ comment_tuple.comment.entity_id_id }}" onclick="showReplyBox(this.id);">
				Reply
			</button>

		</div>
		<!------------------------------------------------------------------------------------------------------------->
	{% endfor %}
{% else %}
	<p>No Comments </p>
{% endif %}

	<!-- The reply comment stub that will appear under any comment when the reply button is pressed -->
	<!----------------------------------------------------------------------------------------------------------------->
	<div id = "reply_comment" style = "border: 1px solid black;margin:5px 5px 5px 5px; display:none;">
		<form>
			{% csrf_token %}
			<textarea id="reply_area" placeholder="Write a comment .." rows = "3" cols = "50"></textarea>
			<input name = 'reply_button' type="button"  value = 'Comment' onclick="insertReply(this.id)">
		</form>
	</div>
	<!----------------------------------------------------------------------------------------------------------------->




