<form method='post' action='/comment/insert_comment/'>
{%csrf_token%}
<textarea name='comment_body' rows="3" cols="50"></textarea>
<input type="submit" name='comment' value='comment'>
</form>

<form method='post' action='/comment/comment_on_comment/'>
{%csrf_token%}

<input type="submit" name='reply_comment' value='reply'>
</form>


{%if reply %}

<form method='post' action='/comment/save_comment_on_comment/1/'>
{%csrf_token%}
<textarea name='reply_comment' rows="3" cols="50"></textarea>
<input type="submit" name='comment' value='savecomment'>
</form>
{%endif%}
